
.blue-bar
  height 50px
  border-bottom 4px solid prettyBlue
  
.point
  margin-top 25px
  margin-left 25px
  

.song-text
  font-size 2em 
  
.songs
  padding-top 25px
  height 100vh

.song
  position relative
  height 25px
  border-bottom 2px solid ignorable1
  border-top 2px solid ignorable1
  margin-bottom -2px
  
  &.playing
    
    background backgroundx2
    
    p
      color pointier

  &.first-row
    border-top none
    height 25px
    p
      color ignorable1

  div
    padding 4px

  &:hover
    background backgroundx2
    cursor pointer

    
.title 
  position absolute
  top 0
  left 0
  width 630px
  height 19px
  border-right 2px solid ignorable1


.description
  position absolute
  top 0
  left 650
  width 255px
  height 19px
  border-right 2px solid ignorable1

  
.artist
  position absolute
  top 0
  left 925
  // width 175px


